$bg-color: #F1F1F1; //pearly 
$pink-ish: #FbF9F9;
$bluegray: #30383A;
$ltgray: rgba(102, 107, 119, 0.3);
$font-color: black; 
$h-font-family: 'Black Ops One', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
//font weights
$bold: 500;
$medium: 400;
//base font
$base-font-family: SansationRegular, Verdana, arial, sans-serif;
$base-font-weight: regular;
$base-font-size: 13px;
$base-line-height: 1.4;
//light
$light-font-family: SansationLight, Verdana, arial, sans-serif;
$light-font-weight: 200;

$display: $h-font-family;
$main: $base-font-family;

@function black($opacity){
    @return rgba(0,0,0,$opacity)
}
@function white($opacity){
    @return rgba(255,255,255,$opacity)
}
@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}