$bg-color: #F1F1F1; //pearly 
$pink-ish: #FAF6F6;
$bluegray: #30383A;
$ltgray: rgba(102, 107, 119, 0.3);
$font-color: black; 
$h-font-family: 'Black Ops One', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
//font weights
$bold: 500;
$medium: 400;
//base font
$base-font-family: SansationRegular, Verdana, arial, sans-serif;
$base-font-weight: regular;
$base-font-size: 13px;
$base-line-height: 1.4;
//light
$light-font-family: SansationLight, Verdana, arial, sans-serif;
$light-font-weight: 200;

$display: $h-font-family;
$main: $base-font-family;