* {
    box-sizing: border-box
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    color: #000
}

#wrapper {
    width: 100%;
    position: relative;
    margin: 0 auto -4em;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: #f1f1f1;
    color: #000
}

.container {
    max-width: 80em;
    margin: 0 auto;
    /* display: table; */
    background-color: #f1f1f1;
    color: #000
}

header {
    width: 100%;
    margin: 1em auto;
    background-color: $pink-ish;
    position: relative;
    border-radius: 5px;
    h1 {
        padding: 10px 5px 5px;
        text-align: left;
        font-size: 2em;
    }
}
/* section {
    content: "";
    display: table;
    clear: both
} */

.col-left {
    position: relative;
    float: left;
    /* margin: 0 1em 0 percentage(-2/8);  */
    width: 300px;
    /* float: none;
    clear: both;
    width: percentage 2/12
    margin-top: 1.5em */
}
.col-right {
    float: right;
    width: percentage(3/12);
    padding-left: percentage(.33/12);

}
.col-mid {
    position: relative;
    width: percentage(6/12);
    float: left;
    margin-right: -100%; 
    text-align: center;
    padding: 0 percentage(1/12);
}
nav {
  margin-top: 400px;
}
.thumb {
  display: inline;
}
#wrapper footer {
  position: absolute;
  clear: both;
  bottom: 0px;
  text-align: center;
  background-color: #f1f1f1;
  height: 4em;
  width: 100%
}
.framed {
  padding: 2px;
  border: 3px groove #F5A623;
}
#wrapper footer small {
  text-align: center
}
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after { 
   clear: both;
  }
}
 
.row {
    position: relative;
    @extend %clearfix;
}
.box {
  margin-bottom: 12px;
  background-color: $pink-ish;
  padding: 1em;
  border-radius: 5px;
  img:not(.framed) {
    margin: 7px;
    &:first-of-type {
        padding-right: 5px;
    } 
  }
}


.push {
    height: 4em;
    clear: both
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
