* {
    box-sizing: border-box
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    color: #000
}

#wrapper {
    width: 100%;
    position: relative;
    margin: 0 auto -4em;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: #f1f1f1;
    color: #000
}

.container {
    max-width: 80em;
    margin: 0 auto;
    display: table;
    background-color: #f1f1f1;
    color: #000
}

header {
    width: 100%;
    margin: 0 auto;
    background-color: $pink-ish;
    text-align: center;
    position: relative
    h1 {
        padding-top: 2em;
        text-align: center
    }
}
section {
    content: "";
    display: table;
    clear: both
}

.col-left {
    position: relative;
    float: left;
    margin: 0 1em 0 percentage(-2/8);
    width: percentage(2/12);
    /* float: none;
    clear: both;
    width: percentage 2/12
    margin-top: 1.5em */
}
.col-right {
    float: right;
    width: percentage 3/12;
}

.col-mid {
    position: relative;
    width: percentage 7/12;
    /* float: left; *
    margin-right: -100%;
    margin-left: 34.04255%;
    clear: none;
    text-align: justify;
    font-size: 1.2em;
    color: #000;
    float: none;
    clear: both;
    margin-top: 3.5em;
    margin-bottom: 2em;*/
    padding: 0 percentage(2/12);
}

#wrapper footer {
    position: absolute;
    clear: both;
    bottom: 0px;
    text-align: center;
    background-color: #f1f1f1;
    height: 4em;
    width: 100%
}

#wrapper footer small {
    text-align: center
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.push {
    height: 4em;
    clear: both
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
