nav,
h1,
h2 {
  font-family: "Black Ops One", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: $bluegray;
}

p {
  font-family: "SansationRegular", sans-serif;
  font-weight: 400;
}

figcaption {
  font: 13px "SansationLight", sans-serif;
  font-weight: 400;
}

figcaption em {
  font-family: "SansationLightItalic", sans-serif;
  font-weight: 400;
}

em {
  font-family: "SansationItalic", sans-serif;
  font-weight: 400;
}

strong {
  font-family: "SansationBold", sans-serif;
  font-weight: 600;
}

strong em {
  font-family: "SansationBoldItalic", sans-serif;
  font-weight: 600;
}

a {
  color: blue;
  font-family: "SansationLight", Verdana, arial, sans-serif;
  font-weight: 400;
}

a:visited {
  color: rgba(0, 0, 255, 0.2)
}

a:focus {
  color: rgba(0, 0, 255, 0.2)
}

a:hover {
  color: rgba(0, 0, 255, 0.5)
}

a:active {
  color: rgba(0, 0, 255, 0.5)
}

.tagline {
  font: bold 0.8em "SansationBold", sans-serif;
}

.bluegray {
  color: #30383a;
  font-size: .8em
}